<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/visual.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<a class="back" href="/#visual"> Back </a>
<div class="overflow"></div>
<div class="content">
	<h1>SSRL</h1>
	<p>I’ve been with the Small Satellite Research Lab (SSRL) for a few years during my years at university, creating the first mission patches, creating print and digital materials, creating their brand system, etc. They aim to bring space to UGA by creating satellites and other materials for NASA, the Air Force, and other patrons.
	<br>
	<br>
	For most materials, I followed my usual design process: research, sketching, iterations/mockups, initial solutions and testing, and production.
	</p>
</div>
<div class="topSpacing"></div>
<div class="images">
	<img src="test.jpg">
	<h2>This is cool stuff</h2>
	<img src="test.jpg">
	<h2>This is cool stuff</h2>
	<img src="test.jpg">
	<h2>This is cool stuff</h2>
	<img src="test.jpg">
	<h2>This is cool stuff</h2>
</div>
<img src="gradient.svg" class="background">

</body>
</html>