<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
<body>

<style>
h1 {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 70px;
  font-weight: 800;
  font-size: 4em;
  transform: skewY(-4deg);
  transition: color .3s;
  margin-left: 15%;
  width: 500px;
}

h1:hover {
  color: blue;
  transition: color .3s;
}


p {
  transform: skewY(4deg);
  color: blue;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  position: fixed;
  margin-left: 55%;
  margin-top: -38%;
  width: 500px;
}

.mediaIcons {
  width: 40px;
  top: 125px;
  position: fixed;
  display: inline;
  margin-left: 90%;
  opacity: .3;
  transition: opacity .5s;
}

.mediaIcons:hover {
  opacity: 1;
  transition: opacity .5s;
}

.about {
  color: lightgrey;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  float: left;
  transform: rotateZ(-90deg);
  margin-left: -100px;
  margin-top: -770px;
  position: fixed;
  transition: color .3s;
}

.about:hover {
  color: black;
  transition: color .3s;
}

.switch {
  color: lightgrey;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  float: left;
  transform: rotateZ(-90deg);
  margin-left: -87px;
  margin-top: -360px;
  position: fixed;
  transition: color .3s;
}

.switch:hover {
  color: blue;
  transition: color .3s;;
}

.copyBorder {
  z-index: -1;
  width: 530px;
  height: 332px;
  position: fixed;
  margin-left: 52%;
  margin-top: -45%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: blue;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
    transition: width .3s;
}

a::before {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: blue;
    transition: width .3s;
}

a:hover::before {
    width: 100%;
    transition: width .3s;
}

</style>
<div class="mediaIcons">
<a><img src="twitter.svg"></a>
<a><img src="linkedin.svg"></a>
<a><img src="github.svg"></a>
<a><img src="email.svg"></a>
</div>

<div style="margin-top: 10%;" id="projects">
<h1 id="amazon"><a>Amazon 1-Click Page</a></h1>
<h1 id="appleMusic"><a>Apple Music Redesign</a></h1>
<h1 id="pupper"><a>Pupper</a></h1>
<h1 id="agio"><a>Agio</a></h1>
<h1 id="ugahacks"><a>UGA Hacks</a></h1>
<h1 id="cooleaf"><a>Cooleaf</a></h1>
</div>

<div class="about">Paul Hwang is a UX and visual
<br>
designer that loves to create.</div>

<div class="switch"><a>I want to see visual work.</a></div>

<img src="copyBorder.svg" class="copyBorder">

<div class="description">
<p>
Hover over a project to see a description <br>and
click on it to see the case study.  
<br>
<br>
To view my visual work, click on
<br>
"I want to see visual work" on the side.
</p>
</div>

<script type="text/javascript">

$("#amazon").mouseenter(function() {
  $(".description").empty().html("<p>The 1-Click Settings page was last updated almost 20 years ago. <br><br>During my time at Amazon, I was able to redesign it.</p>");
});

$("#appleMusic").mouseenter(function() {
  $(".description").empty().html("<p>Apple Music (AM) is unique with their signature aesthetics and features, but <br>could it be better?<br><br>I decided to take a stab at it.</p>");
});

$("#pupper").mouseenter(function() {
  $(".description").empty().html("<p>Pupper is a mobile based service that<br> would allow you to rent a dog for a short period of time.</p>");
});

$("#agio").mouseenter(function() {
  $(".description").empty().html("<p>During the summer of 2016, a group of developers and I created a mobile app <br>that allows employees to easily use their employee discounts with fellow co-workers </p>");
});

$("#ugahacks").mouseenter(function() {
  $(".description").empty().html("<p>We started UGAHacks to cultivate the <br>passion and abilities of students with the maker mentality. <br><br>As a part of this initiative, we established <br>a brand.</p>");
});

$("#cooleaf").mouseenter(function() {
  $(".description").empty().html("<p>Cooleaf aims to increase employee engagement using their web platform. <br><br>I designed their mobile platform.</p>");
});

flag = true;

function checkSwitch() {

if (flag == true) {

$(".switch").unbind().one("click", function() {

  $(this).fadeOut(1000).fadeIn(1000);
  $("#projects").fadeOut(1000).fadeIn(1000);
  
    setTimeout(function() {
    $("#projects").empty().html("<h1 id='amazon'><a>Visual work work 1</a></h1><h1 id='appleMusic'><a>Visual work work 1</a></h1><h1 id='pupper'><a>Visual work 1</a></h1><h1 id='agio'><a>Visual work 1</a></h1><h1 id='ugahacks'><a>Visual work 1</a></h1><h1 id='cooleaf'><a>Visual work 1</a></h1>");
    $(".switch a").empty().html("I want to see ux work.");
    },1000);

  flag = false;
});

} else if (flag == false) {

$(".switch").unbind().one("click", function() {

  $(this).fadeOut(1000).fadeIn(1000);
  $("#projects").fadeOut(1000).fadeIn(1000);
  
    setTimeout(function() {
    $("#projects").empty().html("<h1 id='amazon'><a>Amazon 1-Click Page</a></h1><h1 id='appleMusic'><a>Apple Music Redesign</a></h1><h1 id='pupper'><a>Pupper</a></h1><h1 id='agio'><a>Agio</a></h1><h1 id='ugahacks'><a>UGA Hacks</a></h1><h1 id='cooleaf'><a>Cooleaf</a></h1>");
    $(".switch a").empty().html("I want to see visual work.");
    },1000);

  flag = true;
});

}};

setInterval (checkSwitch, 1000);

</script>

</body>
</html>