<h1>Summary</h1>
Large companies typically offer an abundance of perks to their employees, but sometimes they’re scattered all over the place, making them hard to find and use. Our team created an app that allows employees to easily access all discounts and invite coworkers out to lunch.

Pictures: web screens of hifis x3

<h1>Research</h1>
My team and I created an iOS app from scratch in the timeframe of 2 months, following an Agile workflow, for a large company. After establishing our times for stand-up, we storyboarded our features and listed our stretch goals. We based our features off of what the employees of the company wanted to see in it by asking for requests and what they’re problems related to using their perks were. The biggest complaint was that they were hard to find and use because they were scattered across many webpages.
<br><br>
We established that this app would allow employees to identify what discounts they had (for food and events), where they could use it, and set up meetups with their coworkers using the perks.

Pictures: sketches, worksheets

<h1>Wireframing and solutions</h1>
Once features were established, we began to flush out the hierarchy of views within the app. The main screens needed would be dashboard (later decided to not implement it), food, events/attractions, chats and account settings. From here, smaller interactions would follow. For the UI for perks, we went with a cell view. This way, we could emphasize imagery while giving minimal information about the restaurant or event. After I finished my sketches, I produced digital wireframes, using Axure, to get my ideas across to the developers. Their purpose was to layout the architecture of each screen, leaving out polish, like percise margins, imagery, and color. Once development began, the design went through many changes, altering our vision for the final design.

Pictures: sketches, wireframes, ini solutions and iterations

<h1>Hifis, Testing, and Prototyping</h1>
After finishing the groundwork, I started on my HiFis, adding color, margins, typography, iconography, and so on. Designs were finished early on in the process, so during development, the design saw many changes to accommodate technical difficulties and other issues. Throughout the process, our flexibility was constantly challenged, as issues arose regularly. For example, we wouldn’t have access to certain software which would be needed to perform key functions. We ended up pivoting a couple times and finally got to this product, losing sometime of work in the process.

Pictures: bunch of hifis, (link to PT) “Interact with my prototype!”