<h1>Summary</h1>
Amazon’s 1-Click settings page hasn’t been updated in almost 20 years. During my time here, I was given the opportunity to redesign this page with my mentors and have it implemented with a team of engineers.

Pictures: web screens of hifis x3

<h1>Research</h1>
To give some background, 1-Click was one of the first patents by Jeff Bezos. On top of the retail and mobile app, Amazon products, like Alexa, all digital products, 1-Click, etc. all rely on the 1-Click preferences page for purchasing. This page is the current hub for default/1-Click Preferences. My aim with this project was to clean up the page, get rid of unnecessary features, modernize the aesthetics, and have it be transparent and informative to the customer. Ultimately, we were trying to gain the customer’s trust and to make it easy for them to manage their settings. To gather information and data about the pain points of this problem, I conducted interviews with Amazon employees who’ve had interacted with this page and had tackled problems with this before, went through all issue tickets related to 1-Click, and used my own intuition.

Pictures: sketches, worksheets

<h1>Wireframing and solutions</h1>
Every project at Amazon follows tenants that are set early in the production cycle. Based off of the pain points, we ensured that our possible solutions were clear, transparent, and made the page much easier to use. There were many major iterations done on this page throughout the project’s 12 weeks, going through plenty of sketches, wireframes, mockups, feedback and reviews sessions. We audited the page and broke down the features we wanted to keep or let go in each section of the page. This page was divided into 4 parts: The header (statement about what can be done on this page), the devices component (managing 1-Click for devices), and the list of preferences (shows current default preference and other saved preferences). One of the most important features on this page was the default preference, as this was the set of data used for purchases. Each preference included an address, nickname, payment method, and a shipping method. We also made sure that the completed design could translate to a mobile interface.

Pictures: sketches, wireframes, ini solutions and iterations

<h1>Hifis, Testing, and Prototyping</h1>
With this design, we informed the customer of what they could do on this site, gave them a simple and clean interface for preferences that was easy to digest, created visual hierarchy between components, resolved overflow issues for preferences, proposed a nicknaming system for preferences, and the list goes on. We tried to go down into the nitty gritty and make the best possible experience. Everything I had produced and had collected was bundled together in an internal wiki and an online internal drive. The developers schedule was a week behind mine, so I also had to make sure they had everything they needed to implement my designs, even after I had finished my term.

Pictures: bunch of hifis, (link to PT) “Interact with my prototype!”