<!DOCTYPE html>
<html>
<head>
	<title>Cooleaf</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="stylesheet" type="text/css" href="stylesheets/project.css">

<body>
		<div class="lightBox">
			<div class="x">&#10005</div>
			<div class="prototype">
				<iframe class="mobilePrototype" src="https://marvelapp.com/10hhbb8?emb=1&iosapp=false&frameless=false" width="452" height="902" allowTransparency="true" frameborder="0"></iframe>
			</div>
		</div>
		<main>
			
		<img class="background" src="gradient.svg" id="bg_1">
		<a class="back" href="/#ux"><img src="home.svg"></a>
		<h1>Cooleaf</h1>
		<p class="copyA">
			Cooleaf, a startup at the Atlanta Tech Village, aims to increase employee engagement using their web platform. As they grew, they expanded to a mobile platform for their clients, which I was able to help establish.
		</p>
		<img class="mockup" id="mockup_3" src="projects/apple-music/Apple_16.png">
		<img class="mockup" id="mockup_1" src="projects/apple-music/Apple_15.png">
		<img class="mockup" id="mockup_2" src="projects/apple-music/Apple_14.png">
		<div class="researchContainer">
			<img class="research" id="research_1" src="projects/apple-music/Apple_4.png">
			<img class="research" id="research_2" src="projects/apple-music/Apple_5.png">
			<img class="research" id="research_3" src="projects/apple-music/Apple_6.png">
		</div>
		<div class="copyBContainer">
			<h2>Research</h2>
			<p class="copyB" id="copyB_left">
				My goal for this project was to update their existing Android platform with their new features and to design an iOS platform with the same features. A team of developers and I worked closely with the company to assess their clients and needs for the upcoming push. Most of the research portion had already been done coming into the project, so we were able to hit the ground running. Cooleaf’s platform is centered around employee wellness. Their mobile platform would highlight features like setting up events between coworkers and rewarding employees for being active within their communities.
			</p>
		</div>
		<div class="largeWireframeContainer">
			<h2 style="color:black; margin-left: 0;">Wireframing</h2>
			<div class="wireframeContainer">
				<img class="wireframe" id="wireframe_1" src="projects/apple-music/Apple_7.png">
				<p class="copyC">
					I started sketching out solution for the features that they wanted to add. New to the existing interface was features like member profiles, point systems, creating and joining events, search functions.
				</p>
			</div>

			<div class="wireframeContainer">
				<img class="wireframe" id="wireframe_2" src="projects/apple-music/Apple_8.png">
				<p class="copyC">
					Every user had their points, their joined and created events, their posts, and a short bio and interests tied to them.
				</p>
			</div>

			<div class="wireframeContainer">
				<img class="wireframe" id="wireframe_3" src="projects/apple-music/Apple_9.png">
				<p class="copyC">
					Using these features and sketches, I created wireframes and lofi mockups, which were often presented to the team for feedback.
				</p>
			</div>
		</div>
		<img class="background" src="gradient2.svg" id="bg_2">
		<div class="wideContainer">
		<div style="width: 150px; height: 100px; float: left;"></div>
	    	<img class="finalMockup" id="finalMockup_1" src="projects/apple-music/Apple_10.png">
	    	<img class="finalMockup" id="finalMockup_2" src="projects/apple-music/Apple_11.png">
	    	<img class="finalMockup" id="finalMockup_3" src="projects/apple-music/Apple_12.png">
	    	<img class="finalMockup" id="finalMockup_4" src="projects/apple-music/Apple_13.png">
	    	<img class="finalMockup" id="finalMockup_5" src="projects/apple-music/Apple_14.png">
	    	<img class="finalMockup" id="finalMockup_6" src="projects/apple-music/Apple_15.png">
	    	<img class="finalMockup" id="finalMockup_7" src="projects/apple-music/Apple_16.png">
	    </div>
	    <div class="copyDContainer">
			<h2 style="margin-left: 0;">Mockups</h2>
	    	<p class="copyD">
		    	For aesthetics, we wanted to give a clean feel that reminded you of the Cooleaf brand. This meant using their signature teal and lighter pastel colors with plenty of white space. Many of the backgrounds also featured big imagery and gradients. We also made sure to closely follow the Apple and Android visual guidelines for legibility and for ease to the developers.
			</p>
			<p class="copyD">
				During my time here, I wasn’t able to see the app finish going into production, so I made sure to leave behind ample my designs and ample resources to continue development. The working environment was high-paced with quick turnarounds, and for that time, was a tremendously useful learning experience. I was able to create many visual assets between deadlines, like stickers and landing pages.
			</p>
		</main>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="js/project.js"></script>
	</body>
</html>