<h1>Summary</h1>
Cooleaf, a startup at the Atlanta Tech Village, aims to increase employee engagement using
their web platform. As they grew, they expanded to a mobile platform for their clients, which I was able to help establish.

Pictures: web screens of hifis x3

<h1>Research</h1>
My goal for this project was to update their existing Android platform with their new features and to design an iOS platform with the same features. A team of developers and I worked closely with the company to assess their clients and needs for the upcoming push. Most of the research portion had already been done coming into the project, so we were able to hit the ground running. Cooleaf’s platform is centered around employee wellness. Their mobile platform would highlight features like setting up events between coworkers and rewarding employees for being active within their communities.

Pictures: sketches, worksheets

<h1>Wireframing and solutions</h1>
I started sketching out solution for the features that they wanted to add. New to the existing interface was features like member profiles, point systems, creating and joining events, search functions. Every user had their points, their joined and created events, their posts, and a short bio and interests tied to them. Using these features and sketches, I created wireframes and lofi mockups, which were often presented to the team for feedback.

Pictures: sketches, wireframes, ini solutions and iterations

<h1>Hifis, Testing, and Prototyping</h1>
For aesthetics, we wanted to give a clean feel that reminded you of the Cooleaf brand. This meant using their signature teal and lighter pastel colors with plenty of white space. Many of the backgrounds also featured big imagery and gradients. We also made sure to closely follow the Apple and Android visual guidelines for legibility and for ease to the developers. During my time here, I wasn’t able to see the app finish going into production, so I made sure to leave behind ample my designs and ample resources to continue development. The working environment was high-paced with quick turnarounds, and for that time, was a tremendously useful learning experience. I was able to create many visual assets between deadlines, like stickers and landing pages.